#  ![](https://www.allcoin.com/Content/image/allcoin_logo02.png)

## CryptoMarketAnalysis

In [23]:
%run -i capturador.py

In [4]:
c = capturador(360,'BCD/BTC','1d')

In [27]:
bcd = c.get_allcoin_captura()
bcd.head()

,close,datetime,high,low,open,timestamp,volume
0,0.003002,2017-11-27 22:00:00,0.00690,0.00580,0.003002,1.511827e+09,265.9341
1,0.004001,2017-11-28 22:00:00,0.00530,0.00490,0.004005,1.511914e+09,135.5981
2,0.004010,2017-11-29 22:00:00,0.00530,0.00518,0.004120,1.512000e+09,61.2325
3,0.003800,2017-11-30 22:00:00,0.00518,0.00392,0.005180,1.512086e+09,131.1001
4,0.003010,2017-12-01 22:00:00,0.00430,0.00349,0.003920,1.512173e+09,114.0793

##### Salvando no banco de dados

In [24]:
save(bcd,symbol='BCD/BTC')

IntegrityError: 1062 (23000): Duplicate entry '2017-11-27 22:00:00-BCD/BTC' for key 'PRIMARY'

O banco já possui os dados, logo não será inserido duplicatas.

##### Pegando os valores no bando de dados

In [26]:
bcd = get(symbol='bcd/btc')
bcd.head()
btg = get(symbol='btg/btc')
btg.head()
eth = get(symbol='eth/btc')
eth.head()

,date,timestamp,open,high,close,low,volume,mercado
0,2017-11-27 22:00:00,1.511827e+09,0.003002,0.00690,0.003002,0.00580,265.9341,BCD/BTC
1,2017-11-28 22:00:00,1.511914e+09,0.004005,0.00530,0.004001,0.00490,135.5981,BCD/BTC
2,2017-11-29 22:00:00,1.512000e+09,0.004120,0.00530,0.004010,0.00518,61.2325,BCD/BTC
3,2017-11-30 22:00:00,1.512086e+09,0.005180,0.00518,0.003800,0.00392,131.1001,BCD/BTC
4,2017-12-01 22:00:00,1.512173e+09,0.003920,0.00430,0.003010,0.00349,114.0793,BCD/BTC